<div class="header__right">
    <linkdin-clone-header-option [title]="'Home'" [icon]="'home'"></linkdin-clone-header-option>
    <linkdin-clone-header-option [title]="'My Network'" [icon]="'supervisor_account'"></linkdin-clone-header-option>    
    <linkdin-clone-header-option [title]="'Jobs'" [icon]="'business_center'"></linkdin-clone-header-option>    
    <linkdin-clone-header-option [title]="'Messaging'" [icon]="'chat'"></linkdin-clone-header-option>    
    <linkdin-clone-header-option [title]="'Notifications'" [icon]="'notifications'"></linkdin-clone-header-option> 
    <linkdin-clone-avatar [avatarUrl]="'http://i.picasion.com/resize92/ac67cb6e96cc7fceccd9c6236d66788e.jpg'"></linkdin-clone-avatar>   
</div>